#login {
  margin-top: 120px;
}
#login > h3 {
  text-align: center;
  font-size: 28px;
  font-family: Arial sans-serif;
  font-weight: 600;
  margin-bottom: 20px
}

#loginForm {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-flow: column;
  max-width: 400px;
  margin: 0 auto;
}

#loginForm > button {
  /* align-self: center; */
  font-weight: 600;
  letter-spacing: .1rem;
}

#signupBtn {
  margin: 30px 0 0 auto;
}
